---
layout: sub-page
title: Blog
className: blog
---

<section>
  <div class="section-background">
    <div class="section-wrapper"></div>
  </div>
  <div class="section-wrapper">
    <div class="recent-articles">

      <div class="container-post">
        {% for post in site.posts  %}
        {% if forloop.index !=1 %}
        <div class="blog-post">
          <a href={{ post.url }}>
            <div class="post-title">{{ post.title }}</div>
          </a>
          <!-- <div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div> -->
          <div class="post-description">{{ post.description }}</div>

            <a
              href={{ post.url }}
              title="Register Now"
              class="btn"
              >
              Read more
            </a>

        </div>
        {% endif %}
        {% endfor %}
      </div>

    </div>

  </div>
</section>
