<footer>
  <div class="section-background">
    <div class="section-wrapper">
      <div class="hexagon hexagon-10"></div>
    </div>
  </div>
  <div class="section-wrapper">
    <nav class="main-nav">
      <div>
        <a href="{{ site.url }}" title="Go to home page" class="logo-link">
          <img alt="PM2 logo" src="{{ site.url }}/assets/logo.png" />
        </a>
        <p>© 2020 Keymetrics Inc</p>
      </div>
      <div class="doc-links">
        <div>
          <div class="items-header">
            PM2.IO
          </div>
          <div>
            <a href="/pricing" title="PM2 Pricing">
              Pricing
            </a>
          </div>
          <div>
            <a href="/contact" title="Contact Us">
              Contact
            </a>
          </div>
          <div>
            <a href="/blog" title="Blog">
              Blog
            </a>
          </div>
        </div>
        <div>
          <div class="items-header">
            Documentations
          </div>
          <div>
            <a href="https://pm2.keymetrics.io/" title="PM2 Process Manager Documentation">
              PM2 Runtime
            </a>
          </div>
          <div>
            <a href="/docs/plus/overview/" title="PM2 Monitoring Documentation">
              PM2 Plus
            </a>
          </div>
          <div>
            <a href="/docs/enterprise/overview/" title="PM2 Enterprise Documentation">
              PM2 Enterprise
            </a>
          </div>
        </div>
        <div>
          <div class="items-header">
            Legal
          </div>
          <div>
            <a href="/legals/terms_conditions.pdf" title="Terms & Conditions">
              Terms & Conditions
            </a>
          </div>
          <div>
            <a href="/legals/privacy_policy.pdf" title="Privacy Policy">
              Privacy Policy
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51734350-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-51734350-13');
</script>

<script type="text/javascript" src="{{ site.url }}/assets/jquery.min.js"></script>
