.section-trackerrors {
  .section-wrapper {
    margin: 80px auto;
    @media #{$mobile} {
      margin: 60px auto;
    }

    .card {
      max-width: 1200px;
      margin: auto;
      margin-top: 105px;
      grid-template-columns: 2fr 1fr;

      @media #{$mobile} {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 20px;
        text-align: center;
      }

    }
  }

}
