.section-eagle-detect {
  .section-wrapper {

    .metrics-dd {
      margin-top: 30px;
      color: var(--text-muted);

      .mtrc {
        font-size: 34px;
        font-weight: 700;
        color: var(--text);
      }
    }

    margin: 70px auto;
    @media #{$mobile} {
      margin: 50px auto;
    }
    h1 {
      font-size: 35px;
    }
    .card {
      max-width: 1400px;
      margin: auto;

      @media #{$mobile} {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 20px;

      }
    }
  }
}
