.section-eagle-detect {
  .section-wrapper {

    .metrics-dd {
      margin-top: 30px;

      .mtrc {
        font-size: 34px;
      }
    }

    margin-top: 100px;
    margin-bottom: 350px;
    @media #{$mobile} {
      margin-top: 50px;
      margin-bottom: 250px;
    }
    h1 {
      font-size: 35px;
    }
    .card {
      max-width: 1400px;
      margin: auto;

      .card-right {
        position: relative;

        &::before {
          position: absolute;
          opacity: 0.4;
          content: "";
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: url(./card-left-vector.png) no-repeat;
          background-size: contain;
          transform: rotate(180deg);
        }
      }

      @media #{$mobile} {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 20px;

      }
    }
  }
}
