.section-register {
  @include blueprint-grid;

  .section-wrapper {
    margin: 140px auto 160px;
    @media #{$mobile} {
      margin: 80px auto 100px;
    }

    h1 {
      max-width: 700px;
      margin: auto;
      text-align: center;
      font-size: 45px;
    }

    p {
      margin: 50px auto;
      max-width: 1000px;
      text-align: center;
      color: var(--text-muted);
    }

    .code-and-button {
      text-align: center;
      .button {
        max-width: 380px;
        width: 100%;
        margin: auto;
      }
    }
  }
}
